@keyframes updown {
    0% {
        top: 100%;
    }

    50% {
        top: 0;
    }

    100% {
        top: 100%;
    }
}

@keyframes leftright {
    0% {
        left: 0%;
    }

    50% {
        left: 80%;
    }

    100% {
        left: 0;
    }
}

// @keyframes deform {
//     0% {
//         border-radius: 48% 53% 35% 64% / 42% 38% 53% 50%;
//     }

//     50% {
//         border-radius: 56% 50% 38% 60% / 38% 32% 58% 46%;
//     }

//     100% {
//         border-radius: 48% 53% 35% 64% / 42% 38% 53% 50%;
//     }
// }

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.blobCont {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    background: #1e1e1e;
}

.blob {
    position: absolute;
    width: 200px;
    height: 210px;
    box-shadow: $shadow;
    background-color: rgb(52, 152, 219);
    transition: all 0.1s;
}

.blob:first-child {
    animation:
        updown ease-out 42s infinite,
        leftright ease-in-out 54s infinite,
        deform ease 3s infinite,
        spin ease-in-out 33s infinite;
    border-radius: 48% 53% 35% 64% / 42% 38% 53% 50%;

}


.blob:nth-child(2) {
    animation:
        updown ease-out 48s infinite,
        leftright ease-in-out 58s infinite,
        deform ease-in-out 6s infinite,
        spin ease-in-out 33s infinite;
    border-radius: 42% 50% 38% 66% / 40% 33% 57% 54%;


}

.blob:nth-child(3) {
    animation:
        updown ease-out 35s infinite,
        leftright ease-in-out 42s infinite,
        deform ease-in-out 8s infinite,
        spin ease-in-out 33s infinite;
    border-radius: 48% 53% 33% 58% / 42% 34% 55% 50%;


}

.blob:nth-child(4) {
    animation:
        updown ease-out 57s infinite,
        leftright ease-in-out 65s infinite,
        deform ease-in-out 6s infinite,
        spin ease-in-out 33s infinite;
    border-radius: 40% 53% 31% 59% / 42% 32% 53% 45%;


}

.blob:nth-child(5) {
    animation:
        updown ease-out 50s infinite,
        leftright ease-in-out 46s infinite,
        deform ease-in-out 9s infinite,
        spin ease-in-out 33s infinite;
    border-radius: 48% 59% 35% 64% / 42% 35% 53% 50%;


}

.blob:last-child {
    animation:
        updown ease-out 46s infinite,
        leftright ease-in-out 50s infinite,
        deform ease-in-out 6s infinite,
        spin ease-in-out 33s infinite;
    border-radius: 38% 43% 35% 64% / 42% 58% 33% 50%;

}