.selectLang {
    margin-left: 20px;
    background-color: $primaryColor;
    padding-right: 4px;
    transition: all 0.2s;
    color: #fff;
}

.selectLang:focus {
    outline: none;
    background-color: #fff;
    color: $primaryColor;
}