.skills__slider {
    display: flex;
    align-content: center;

    max-width: 115rem;
    height: 100px;
    padding: 20px 12px 20px 12px;
    margin: 30px 0;
    box-shadow: inset $shadow;
    background-color: $blackColor;

    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            width: 46px;
            height: 46px;
            margin-inline: 20px;
            border-radius: 20%;
        }

        p{
            margin-top: 4px;
            text-align: center;
            font-size: 1.4rem;
        }
    }


}

@include media-up(ls) {
    .skills__slider {
        border-radius: 12px;
    }
}

@include media-up(lg) {
    .skills__slider {
        justify-content: center;
        margin: 30px auto;
        border-radius: 12px;
    }
}