* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  background: #1e1e1e;
}

body {
  color: white;
}

#root {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(52, 152, 219);
}

h1 {
  font-size: $title;
  text-shadow: $shadow;
}

h2 {
  font-size: $subTitle;
  text-shadow: $shadow;
}

h3 {
  font-size: $thirdTtitle;
  text-shadow: $shadow;
}

p {
  font-size: $text;
  text-shadow: $shadow;
}

.hide {
  display: none;
}

.show {
  animation: fadeIn 0.3s ease-in-out forwards;
  opacity: 1 !important;
  visibility: visible !important;
}

.btn {
  padding: 12px;
  border: none;
  border-radius: 8px;
  box-shadow: $shadow;
  background-color: white;
  cursor: pointer;
}

.textMenu {
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  text-shadow: none;
}

@include media-up(xl) {
  main {
    width: 140rem;
    margin: 0 auto;
    padding: 40px;
    padding-top: 80px;
    padding-bottom: 0px;
    box-shadow: $shadow;
    border-left: 1px solid rgb(52, 152, 219);
    border-right: 1px solid rgb(52, 152, 219);
    // background: #1e1e1e;
    background-color: transparent;
  }
}
